
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 100%; 
}

.user-card {
    background-color: #0fcbe496; 
    border: 1px solid #ccc; 
    padding: 15px; 
    text-align: center; 
    width: 100%; 
    box-sizing: border-box; 
}

.user-card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-card h2 {
    margin-bottom: 10px;
    font-size: 2em; 
    color: #f80303; 
}

.user-card .details {
    font-size: 1.2em; 
    margin-top: 10px;
    text-align: left;  
    font-weight: bold; 
}

.user-card .details p {
    margin: 5px 0;
    font-size: 1em; 
}

button {
    background-color: #c2b222d3; 
    color: rgba(255, 255, 255, 0.815); 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 10px 5px; 
    cursor: pointer; 
    border-radius: 5px; 
}

button:hover {
    background-color: #9e54989d; 
}

h1 {
    text-align: center; 
    font-size: 2.5em; 
    color: #ff5733; 
}

body {
    background-color: #2eb94559; 
}